<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.mapper.LoginMapper">
    <insert id="insertUser">
        insert into sys_user(username,password) values (#{username},#{password})
    </insert>
    <select id="login" resultType="com.xuan.entity.UserVo">
        select * from sys_user where username = #{username} and password = #{password};
    </select>
    <select id="selectName" resultType="java.lang.Integer">
        select count(id) from sys_user where username = #{username}
    </select>
    <select id="getUser" resultType="com.xuan.entity.User">
        select * from sys_user where username = #{username}
    </select>
    <select id="getById" resultType="com.xuan.entity.User">
        select * from sys_user where id = #{id}
    </select>
</mapper>