<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.mapper.LoginMapper">


    <select id="login" resultType="com.xuan.entity.User">
        select id,username,nickname,via from sys_user where username = #{username} and password = #{password};
    </select>
</mapper>